





body{

    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;

}


.container{

    margin-top: 20px;

}


.form{

    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    text-align: center;

}


.form h1{

    font-size: 24px;
    margin-bottom: 20px;

}

.form h1{

    font-size: 24px;
    margin-bottom: 20px;

}

.formContainer{

    display: flex;
    justify-content: center;
    align-items: center;

}

.form container input[type="text"]{

    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;

}


.formContainer button[type="submit"]{

    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;


}


.formContainer button[type="submit"]:hover {

    background-color: #0056b3;

}


.table th {

    background-color: #007bff;
    color: #fff;

}

.table th,
.table td {
    padding: 10px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #fff;
}

.table-striped tbody tr:hover {
    background-color: #f0f0f0;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}
